@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-poppins);
  color: #8a8a8a;
  background: url(/images/Noise-&-Texture.png) no-repeat 50%, #fffcf9;
  background-size: cover;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.font-behindthetineties {
  font-family: var(--font-behind-nineties);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.inter {
  font-family: var(--font-inter);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.fs-38 {
  font-size: 38px;
}

.text-primary {
  color: #911e3d;
}

.text-dark {
  color: #1f1f1f;
}

.text-secondary {
  color: #8b8b8b;
}

.text-secondary-dark {
  color: #3a3a3a;
}

.text-secondary-light {
  color: #1f1f1fcc;
}

.text-grey {
  color: #666;
}

.text-gold {
  color: #c38a3e;
}

.text-grey-dark {
  color: #3a3a3a;
}

.bg-primary {
  background: #911e3d;
}

.bg-secondary {
  background: #ffffff80;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt-50 {
  padding-top: 50px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 500;
}

.btn-primary {
  color: white;
  background-color: #911e3d;
}

.btn-lg {
  padding: 10px 24px;
  border-radius: 10px;
}

.btn-sm {
  padding: 10px 27px;
  border-radius: 8px;
  font-size: 14px;
}

.form-control {
  color: #1f1f1f;
  background-color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 8px;
  padding: 13px 15px;
  overflow: hidden;
}

/* header */
.logo {
  font-size: 20px;
}

.logo-wrapper {
  height: 50px;
  width: 120px;
}

.navbar {
  z-index: 100;
  width: calc(100% - 100px);
  margin: auto;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.navbar.scroll-down {
  z-index: 100;
  width: 100%;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  box-shadow: 0 0 24px #00000026;
}

.navbar.scroll-down .nav-container {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: none;
  border-radius: none;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: none;
}

.navbar .nav-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  border-radius: 10px;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: 0 0 24px #00000026;
}

.navbar .nav-link.active,
.navbar-section .nav-link:hover {
  color: #911e3d;
  font-weight: 400;
}

.navbar .nav-link {
  padding: 10px 6px;
  transition: all 0.2s;
}

.nav-icon {
  background: rgba(255, 255, 255, 0.5);
}

.nav-toggle-btn {
  padding: 8px;
}

/* hero section */
.hero-section .background-wrapper {
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 220px;
  background: radial-gradient(50% 85% at 50% 50%, #f4ede4 0, #e9d3b6 100%);
}

.hero-section .background-wrapper {
  border-radius: 20px;
}

.book-appointment-container {
  position: relative;
  padding: 30px 20px;
  border-radius: 20px;
  backdrop-filter: blur(6.5px);
  background-color: #ffffff80;
  z-index: 2;
}

.book-appointment-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(
      98.75deg,
      rgba(255, 255, 255, 0.5),
      rgba(222, 174, 109, 0.5) 99.67%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* service section */
.product-card .img-wrapper,
.service-card .img-wrapper {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.product-card .img-wrapper img,
.service-card .img-wrapper img {
  transition: all 0.3s ease;
}

.btn.btn-lg.btn-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff80;
}

.ms-auto {
  margin-inline-start: auto;
}

.tag {
  color: white;
  padding: 5px 18px;
  border-radius: 20px;
  background-color: #00000033;
}

.line-clamp-1,
.line-clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/* product section */
.product-section {
  background: #f4ede4;
}

.product-card .img-wrapper {
  transition: all 0.3s ease;
}

.product-card .card-footer {
  display: flex;
  padding: 24px 20px 16px 20px;
  border-radius: 20px;
  background-color: #fbfbfb;
  border: 1px solid #eaeaea;
}

/* trusted section */
.counter-wrapper {
  width: 100%;
  padding: 18px;
  color: #1f1f1f;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  background-color: #ffffff33;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

.doctor-img-wrapper {
  border-radius: 20px;
}

/* blog Section */
.ratio-16x9 {
  aspect-ratio: 16 / 9;
}

.blog-section .blog-swiper .img-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.custom-bullet {
  background-color: #8a8a8a;
  width: 100px !important;
  height: 8px !important;
  border-radius: 20px !important;
  transition: all 300ms ease-in-out;
  display: inline-block;
}

.marquee-section .img-wrapper {
  width: 170px;
  height: 75px;
  border-radius: 10px;
}

.marquee-section h3 {
  font-size: 60px;
  border-radius: 10px;
}

/* services-swiper-section */

/* book-now-section */
.book-now-section .background-wrapper {
  background: radial-gradient(
    ellipse at center,
    #ffffff 0,
    #fdf5f8 50%,
    #f9f1f3 100%
  );
  padding: 62px 60px 0;
}

.book-now-section .background-wrapper {
  border-radius: 20px;
}

.mx-auto {
  margin-inline: auto;
}

.social-icon {
  width: 35px;
  height: 35px;
  transition: all 0.15s;
  display: flex;
}

/* contact-section */
.contact-section .container .grid {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.contact-section .item:first-child {
  padding-left: 0;
  border-color: transparent;
}

.contact-section .item {
  padding: 24px 30px;
  border-left: 1px solid #dfdfdf;
}

.contact-section .item:last-child {
  padding-right: 0;
}

.contact-section .form-control {
  background-color: #ededed;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
}

/* footer-section */
.footer-logo-wraper {
  height: 50px;
  width: 120px;
}
.footer-section {
  padding-bottom: 24px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #3a3a3a;
}

.footer-section .bottom-row {
  padding-top: 30px;
}

.footer-section .social-icon {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}

/* Responsive */
@media screen and (min-width: 1279.97px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279.97px) {
  .logo-wrapper {
    height: 45px;
    width: 120px;
  }
  .navbar .nav-container {
    max-width: 1200px;
    padding: 8px 20px;
    border-radius: 8px;
  }
  .hero-section .background-wrapper {
    border-radius: 16px;
  }
  .book-appointment-container {
    border-radius: 16px;
  }
  .book-appointment-container:before {
    border-radius: 16px;
  }
  .doctor-img-wrapper {
    border-radius: 16px;
  }
  .counter-wrapper {
    border-radius: 16px;
  }
  .blog-section .blog-swiper .img-wrapper {
    border-radius: 16px;
  }
  .btn {
    padding: 9px 24px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 9px 24px;
    border-radius: 10px;
  }
  .btn-sm {
    padding: 9px 27px;
    border-radius: 8px;
    font-size: 14px;
  }
  .py-80 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  h1 {
    font-size: 65;
  }
  h2 {
    font-size: 54px;
  }
  .fs-35 {
    font-size: 30px;
  }
  .product-card .img-wrapper,
  .service-card .img-wrapper {
    width: 100%;
    height: 470px;
    border-radius: 16px;
  }
  .product-card .card-footer {
    padding: 20px 16px 14px 16px;
    border-radius: 16px;
  }
  .contact-section .item:first-child,
  .contact-section .item:nth-child(3) {
    padding-left: 0px;
    border-color: none;
  }
  .contact-section .item:nth-child(2),
  .contact-section .item:last-child {
    padding-left: 10px;
  }
  .contact-section .item:nth-child(3) {
    border-color: transparent;
  }
}

@media screen and (max-width: 1023.97px) {
  .logo-wrapper {
    height: 40px;
    width: 120px;
  }
  .hero-section .background-wrapper {
    border-radius: 16px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 190px;
  }
  .navbar .nav-container {
    max-width: 950px;
    padding: 7px 18px;
    border-radius: 7px;
  }
  .btn {
    padding: 9px 24px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 9px 24px;
    border-radius: 8px;
  }
  .btn-sm {
    padding: 9px 27px;
    border-radius: 6px;
    font-size: 14px;
  }
  .nav-toggle-btn {
    padding: 5px;
  }
  .hero-section .background-wrapper {
    border-radius: 14px;
  }
  .book-appointment-container {
    padding: 26px 18px;
    border-radius: 12px;
  }
  .book-appointment-container:before {
    border-radius: 12px;
  }
  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: ;
    width: ;
    border-radius: ;
  }
  .product-card .card-footer {
    padding: 20px 16px 14px 16px;
    border-radius: 16px;
  }
  .custom-bullet {
    background-color: #8a8a8a;
    width: 50px !important;
    height: 6px !important;
    border-radius: 20px !important;
    transition: all 300ms ease-in-out;
    display: inline-block;
  }
  .marquee-section .img-wrapper {
    width: 157px;
    height: 67px;
    border-radius: 9px;
  }
  .marquee-section h3 {
    font-size: 50px;
    border-radius: 9px;
  }
  .book-now-section .background-wrapper {
    border-radius: 16px;
  }
  .footer-section {
    padding-bottom: 20px;
  }
  .footer-section .bottom-row {
    padding-top: 24px;
  }
  .btn {
    padding: 7px 24px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 7px 24px;
    border-radius: 10px;
  }
  .btn-sm {
    padding: 7px 27px;
    border-radius: 8px;
    font-size: 14px;
  }
  .py-80 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  h1 {
    font-size: 55;
  }
  h2 {
    font-size: 50px;
  }
  h5 {
    font-size: 20px;
  }
  .fs-35 {
    font-size: 27px;
  }
  .fs-18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 14px;
  }
  .hero-section .background-wrapper {
    border-radius: 16px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 160px;
  }
  .logo-wrapper {
    height: 40px;
    width: 120px;
  }
  .btn {
    padding: 9px 24px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 9px 24px;
    border-radius: 6px;
  }
  .btn-sm {
    padding: 9px 27px;
    border-radius: 5px;
    font-size: 14px;
  }
  .navbar .nav-container {
    max-width: 700px;
    padding: 4px 10px;
    border-radius: 6x;
  }
  .hero-section .background-wrapper {
    border-radius: 12px;
  }
  .book-appointment-container {
    padding: 22px 16px;
  }
  .doctor-img-wrapper {
    border-radius: 12px;
  }
  .counter-wrapper {
    border-radius: 12px;
  }
  .blog-section .blog-swiper .img-wrapper {
    border-radius: 12px;
  }
  .product-card .img-wrapper,
  .service-card .img-wrapper {
    width: 100%;
    height: 420px;
    border-radius: 12px;
  }
  .product-card .card-footer {
    padding: 16px 14px 12px 14px;
    border-radius: 12px;
  }
  .contact-section .item {
    border-left: 1px solid #dfdfdf;
    padding: 15px 30px;
  }
  .footer-section {
    padding-bottom: 18px;
  }
  .footer-section .bottom-row {
    padding-top: 20px;
  }
  .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 55;
  }
  h2 {
    font-size: 50px;
  }
  .fs-35 {
    font-size: 25px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .marquee-section .img-wrapper {
    width: 150px;
    height: 64px;
    border-radius: 8px;
  }
  .marquee-section h3 {
    font-size: 45px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 639.97px) {
  body {
    font-size: 12px;
  }
  .logo-wrapper {
    height: 37px;
    width: 120px;
  }
  .btn {
    padding: 9px 24px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 9px 24px;
    border-radius: 6px;
  }
  .btn-sm {
    padding: 9px 27px;
    border-radius: 5px;
    font-size: 14px;
  }
  .navbar {
    width: calc(100% - 65px);
    top: 30px;
  }
  .navbar .nav-container {
    max-width: 580px;
    border-radius: 5px;
  }
  .hero-section .background-wrapper {
    border-radius: 12px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 120px;
  }
  .form-control {
    padding: 9px 10px;
  }
  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: ;
    width: ;
    border-radius: ;
  }
  .product-card .card-footer {
    padding: 15px 12px;
    border-radius: 10px;
  }
  .marquee-section .img-wrapper {
    width: 145px;
    height: 60px;
    border-radius: 7px;
  }
  .marquee-section h3 {
    font-size: 40px;
    border-radius: 7px;
  }
  .book-now-section .background-wrapper {
    border-radius: 12px;
  }
  .book-now-section .background-wrapper h2 {
    font-size: 35px;
  }
  .footer-section {
    padding-bottom: 16px;
  }
  .footer-section .bottom-row {
    padding-top: 18px;
  }
  .btn {
    padding: 6px 24px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 6px 24px;
    border-radius: 10px;
  }
  .btn-sm {
    padding: 6px 27px;
    border-radius: 8px;
    font-size: 14px;
  }
  .py-80 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  h1 {
    font-size: 40;
  }
  h5 {
    font-size: 18px;
  }
  .fs-35 {
    font-size: 23px;
  }
  .fs-18 {
    font-size: 14px;
  }
  .fs-16 {
    font-size: 13px;
  }
  .book-now-section .background-wrapper {
    padding: 40px 15px 0;
  }
}

@media screen and (max-width: 575.97px) {
  body {
    font-size: 12px;
  }
  .logo-wrapper {
    height: 35px;
    width: 120px;
  }
  .btn {
    padding: 9px 24px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 500;
  }
  .btn-primary {
    color: white;
    background-color: #911e3d;
  }
  .btn-lg {
    padding: 9px 24px;
    border-radius: 6px;
  }
  .btn-sm {
    padding: 9px 27px;
    border-radius: 5px;
    font-size: 14px;
  }
  .navbar {
    width: calc(100% - 55px);
    top: 30px;
  }
  .navbar .nav-container {
    max-width: 575px;
    border-radius: 5px;
  }
  .hero-section .background-wrapper {
    padding-top: 100px;
  }
  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: ;
    width: ;
    border-radius: ;
  }
  h1 {
    font-size: 40;
  }
  .fs-35 {
    font-size: 21px;
  }
  .fs-18 {
    font-size: 14px;
  }
  .marquee-section .img-wrapper {
    width: 135px;
    height: 56.5px;
    border-radius: 5px;
  }
  .marquee-section h3 {
    font-size: 35px;
    border-radius: 5px;
  }
}

/* @media screen and (max-width: 27rem) {
  .container {
    max-width: 490px;
  }

  .navbar .nav-container {
    max-width: 490px;
  }
  h1 {
    font-size: 55;
  }
}

@media screen and (max-width: 19rem) {
  .container {
    max-width: 575px;
  }
  .navbar .nav-container {
    max-width: 520px;
  }
  h1 {
    font-size: 55;
  }
} */
