@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 300;
  font-family: poppins, sans-serif;
  color: #8a8a8a;
  background: url(/images/Noise-&-Texture.png) no-repeat 50%;
  background-size: cover;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.font-behindthetineties {
  font-family: "font-behindthetineties";
}

h1 {
  font-size: 75px;
  font-weight: 400;
  line-height: 92%;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 75px;
}

h4 {
  font-size: 24px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.fs-38 {
  font-size: 38px;
}

.text-primary {
  color: #911e3d;
}

.text-dark {
  color: #1f1f1f;
}

.text-secondary {
  color: #8b8b8b;
}

.text-secondary-dark {
  color: #3a3a3a;
}

.text-secondary-light {
  color: #1f1f1fcc;
}

.text-grey {
  color: #666;
}

.bg-primary {
  background: #911e3d;
}

.bg-secondary {
  background: #ffffff80;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {
  color: #ffff;
  background: #911e3d;
  font-size: 18px;
  font-weight: 500;
}

.btn-primary {
  font-size: 14px !important;
}

/* header */
.Logo {
  font-size: 20px;
}

.navbar {
  z-index: 100;
  width: calc(100% - 100px);
  margin: auto;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.navbar .nav-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  border-radius: 10px;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: 0 0 24px #00000026;
}

.navbar .nav-link.active,
.navbar-section .nav-link:hover {
  color: #911e3d;
  font-weight: 400;
}

.navbar .nav-link {
  padding: 10px 6px;
  transition: all 0.2s;
}

.nav-icon {
  background: rgba(255, 255, 255, 0.5);
}

/* hero section */
.hero-section .background-wrapper {
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 150px;
  background: radial-gradient(50% 85% at 50% 50%, #f4ede4 0, #e9d3b6 100%);
}

.background-wrapper {
  border-radius: 20px;
}

.book-appointment-container {
    position: relative;
    padding: 30px 20px;
    border-radius: 20px;
    backdrop-filter: blur(6.5px);
    background-color: #ffffff80;
    z-index: 2;
}

.book-appointment-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(98.75deg, rgba(255, 255, 255, .5), rgba(222, 174, 109, .5) 99.67%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.form-control {
    color: #1f1f1f;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 10px;
    padding: 13px 15px;
    overflow: hidden;
}

/* service section */

/* product section */

/* trusted section */

/* blog Section */

/* services-swiper-section */

/* book-now-section */

/* contact-section */

/* footer-section */

/* Responsive */
@media screen and (max-width: 96rem) {
}

@media screen and (max-width: 80rem) {
}

@media screen and (max-width: 64rem) {
}

@media screen and (max-width: 48rem) {
}

@media screen and (max-width: 40rem) {
}